@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.singleSelect {
  background: rgba(255, 255, 255, 0.1);
}

.icons:hover {

  cursor: pointer;
  border-radius: 8px;
}

.taskbar-icon {
  @apply w-full h-full flex items-center px-2 py-1 cursor-pointer
}

.projects-menu {
  @apply flex space-x-2 items-center font-semibold hover:text-blue-300 cursor-pointer
}

.projectCard-btn {
  @apply  px-2 py-1 text-white rounded-sm hover:opacity-80
}